<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login Form</title>
</head>

<body>
  <div>
    <h1>Login Form</h1>
    <form action="/login" method="post">
      <div>
        <label>Username</label>
        <input type="text" placeholder="Username" name="username" />
      </div>
      <div>
        <label>Password</label>
        <input type="password" placeholder="Password" name="password" />
      </div>
      <% if (message) { %>
        <div>
          <span><%= message %></span>
        </div>
      <% } %>
      <div>
        <button type="submit">Login</button>
      </div>
    </form>
  </div>
</body>

</html>
